div{position:absolute;width:1250;height:570;}
.abc{ position:absolute;width:1250;height:90;background-color:3b5999}
h1{margin-left:50;font-size:55;color:white;margin:10}
.xyz{left:760;top:15;height:50;width:480;background-color:3b5999;color:white}
#zz{color:black; left:760;top:100;width:480;height:50}
#prajwal{ width:30; height:30;top:90}
.sacya{background-color: green;}
h2{font-size: 20;}